<div class="text-center m-5">
  <h4>九州地方の着物情報</h4>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://www.crossroadfukuoka.jp/traditionalcrafts/jpcraft/img/crafts/hakataori_img_main.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">博多織</h5>
                <p class="card-text">福岡県福岡市の博多を中心に生産されている織物の総称。特に有名なものは、独鈷模様と横畝の現れた堅い織り味が特徴の「献上博多」です。</p>
                <p class="card-text"><small class="text-muted">江戸時代に、筑前福岡藩の初代藩主である黒田長政が、「独鈷と華皿文様」の博多織を毎年幕府に献上したことから、それが「献上博多」や「献上柄」と呼ばれるようになりました。筑前福岡藩は、献上品の品質保持のために織屋株制度を敷いて、織元を12戸に限定したため、江戸時代を通して品質を維持することに成功しましたが、その反面、西陣織などのように産業として大きく発展しなかったともいわれています。ちなみに、福岡市の地下鉄「博多駅」のシンボルマークには献上柄が使われています。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://story.nakagawa-masashichi.jp/wp-content/uploads/2020/04/oshimatop02.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">大島紬</h5>
                <p class="card-text">黄奄美大島が発祥の絹織物で、光沢のあるしなやかな地風が特徴。「結城紬」と並ぶ高級紬です。</p>
                <p class="card-text"><small class="text-muted">大島紬と一口に言っても、いろいろな種類があります。有名なものは独特の黒褐色の地色をもつ泥染の「泥大島」。ほかにも藍染の糸で織った「藍大島」、藍染・泥染併用の「泥藍大島」、多彩な「色大島」、そして「白大島」、薄地に織った「夏大島」など。第二次世界大戦中、島から技術者が鹿児島市に疎開したことにより、現在では奄美大島と鹿児島市が主産地になっています。（1947年頃から、宮崎県の都城でも一部、生産されています。）大島紬の発祥については諸説あり、沖縄の久米島紬の技法が伝わったものであるという説や、中国から伝えられた古代染織がもとになっているという説などがあります。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>
<div class="text-center m-5">
<h4>九州地方のお着物一覧</h4>
</div>

<% if @items.present?%>
  <%= render "shared/kimono" %>
<% else %>
  <div class="text-right mx-5">
    <h4>九州地方のお着物はまだ出品されていません。良かったら、お家に眠っているお着物を出品してみませんか？</h4>
  </div>
<% end %>