<div class="text-center">
  <h1>中部地方の着物情報</h1>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://www.kimono-off.jp/wp-content/uploads/2019/11/kaga-eye-800x480-1-scaled-1.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">加賀友禅</h5>
                <p class="card-text">石川県の金沢で染められている友禅染。京友禅や東京友禅とともに日本三大友禅の一つとされています。</p>
                <p class="card-text"><small class="text-muted">加賀友禅は、加賀五彩（藍・黄土・臙脂・緑・墨）を基調色とし、金箔・銀箔や刺繍などによる加飾がほとんど施されていないのが特徴的。また、京友禅では模様の内側から外側へぼかすことが多いのに対して、加賀友禅では模様の外側から内側へ向かって濃い色を薄い色にしていく「先ぼかし」や、木の葉などの模様に墨色の点で描く「虫食い」という表現も特徴的です。現在、着物の需要の低下で、加賀友禅の出荷額は減少していますが、後継者の育成や新製品の開発などの試みが積極的に行われており、加賀友禅のPRのために、毎年秋にミス・コンテストを開催して、ミス加賀友禅も選出されています。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://warakuya.ocnk.net/phone/data/warakuya/product/20190805_6e2e98.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">有松・鳴海絞（ありまつなるみしぼり）</h5>
                <p class="card-text">愛知県名古屋市の有松、鳴海地区を中心に生産されている絞り染めの総称。</p>
                <p class="card-text"><small class="text-muted">1610年～1614年にかけて行われた名古屋城築城の手伝いを、現在の大分県にあたる豊後の大名が命ぜられた時に、豊後から連れてきた人によって絞の技法が伝えられ、そして竹田庄九郎という人が木綿に絞り染めを施した手ぬぐいを作り、東海道を往来する旅人へお土産として売り出したのが始まりと言われています（諸説あります）。有松・鳴海絞の特徴は、その技法の多さにあります。雪花絞・鹿の子絞・巻き上げ絞・蜘蛛入り柳絞・三浦絞・嵐絞・桶絞・筋絞・板締め絞・縫絞などなど100種類以上あるそう。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>

<div class="text-center">
<h1>中部地方のお着物一覧</h1>
</div>

<%= render "shared/kimono" %>