<span class="border border-primary">
<div id="map-container"></div>
</span>

<div class="d-flex bd-highlight">
 
<% @items.each do |item| %>
 <div class="p-2 flex-fill bd-highlight">
    <div class="card">
        <%= link_to image_tag(item.image, class:"bd-placeholder-img card-img-top", width:"200", height:"200"), item_path(item.id), method: :get %>
      <div class="card-body">
        <h5 class="card-title"><%= item.title %></h5>
        <p class="card-text"><%= item.explanation %></p>
      </div>
    </div>
  </div>
<% end %>
</div>